In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib as mpl

In [2]:
df = pd.read_csv('country reference.csv', index_col=[0], skiprows=14)

In [4]:
df.columns = [ 'Country name', 'Country sort order',
       'Major area', 'Major area code',
       'Major area sort order', 'Region', 
       'Region code', 'Region sort order',
       'Developed region', 'Least developed country',
       'Sub-Saharan Africa']
df.reset_index(inplace=True)

In [8]:
df2 = pd.read_csv('table1- International migrant stock.csv', index_col=[0], skiprows=14)

In [10]:
final.to_csv('country_reference.csv', index=False)

In [11]:
final

,Country code,Country name,Country sort order,Major area,Major area code,Major area sort order,Region,Region code,Region sort order,Developed region,Least developed country,Sub-Saharan Africa,Notes,Type of data (a)
0,4,Afghanistan,99,Asia,935,71,Southern Asia,5501,98,No,Yes,No,NaN,B
1,8,Albania,154,Europe,908,127,Southern Europe,925,153,Yes,No,No,NaN,B
2,12,Algeria,40,Africa,903,7,Northern Africa,912,39,No,No,No,NaN,C R
3,16,American Samoa,257,Oceania,909,238,Polynesia,957,256,No,No,No,NaN,B
4,20,Andorra,155,Europe,908,127,Southern Europe,925,153,Yes,No,No,NaN,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
227,876,Wallis and Futuna Islands,265,Oceania,909,238,Polynesia,957,256,No,No,No,NaN,B
228,732,Western Sahara,46,Africa,903,7,Northern Africa,912,39,No,No,No,NaN,I
229,887,Yemen,126,Asia,935,71,Western Asia,922,108,No,Yes,No,NaN,C R
230,894,Zambia,27,Africa,903,7,Eastern Africa,910,8,No,Yes,Yes,NaN,B R
231,716,Zimbabwe,28,Africa,903,7,Eastern Africa,910,8,No,No,Yes,NaN,B R