In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib as mpl

In [12]:
df = pd.read_csv('table3- International migrant stock as a percentage of the total population.csv', index_col=[0], skiprows=14)

In [13]:
df.columns = ['Major area, region, country or area of destination', 'Notes',
       'Country code', 'Type of data (a)',
       'International migrant stock as a percentage of the total population (both sexes)1990', 'International migrant stock as a percentage of the total population (both sexes)1995',
       'International migrant stock as a percentage of the total population (both sexes)2000', 'International migrant stock as a percentage of the total population (both sexes)2005', 
       'International migrant stock as a percentage of the total population (both sexes)2010', 'International migrant stock as a percentage of the total population (both sexes)2015',
       'International migrant stock as a percentage of the total population (male)1990', 'International migrant stock as a percentage of the total population (male)1995',
       'International migrant stock as a percentage of the total population (male)2000', 'International migrant stock as a percentage of the total population (male)2005', 'International migrant stock as a percentage of the total population (male)2010', 'International migrant stock as a percentage of the total population (male)2015',
       'International migrant stock as a percentage of the total population (female)1990', 'International migrant stock as a percentage of the total population (female)1995',
       'International migrant stock as a percentage of the total population (female)2000', 'International migrant stock as a percentage of the total population (female)2005','International migrant stock as a percentage of the total population (female)2010', 'International migrant stock as a percentage of the total population (female)2015',
]
df = df.dropna(subset = ['Type of data (a)']).drop(columns=['Major area, region, country or area of destination', 'Notes','Type of data (a)'])

In [20]:
df_melt = df.melt (
    id_vars=['Country code'], 
    var_name=['year'], 
    value_name='Amount'
    )

df_melt = df_melt.assign (
    Year = lambda x: x.year.str[-4:], Gender = lambda x:x.year.str[69:74]
).drop(columns =['year'], axis=0).replace('femal', 'female')

In [21]:
df_melt

      Country code Amount  Year  Gender
0            108.0    5.9  1990   both
1            174.0    3.4  1990   both
2            262.0   20.8  1990   both
3            232.0    0.4  1990   both
4            231.0    2.4  1990   both
...            ...    ...   ...     ...
4171         882.0    2.6  2015  female
4172         772.0     ..  2015  female
4173         776.0    4.9  2015  female
4174         798.0     ..  2015  female
4175         876.0     ..  2015  female

[4176 rows x 4 columns]